* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body.loaded {
    opacity: 1;
    transform: translateY(0);
}

.reveal {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(10px);
    transition: 0.7s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}


.left {
    width: 45%;
    padding: 60px;
    background: radial-gradient(circle at center,
    #6b3b00 0%,
    #2a1500 50%,
    #000 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
     background: linear-gradient(120deg, #000000, #2b1200, #6b3a00, #000000);
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: 45px;
    height: 45px;
    background: #ffb300;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
}

.subtitle {
    margin: 20px 0 40px;
    opacity: 0.9;
    font-size: 20px;
}

.features {
  
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}

.feature i {
    font-size: 32px;
    color: #ffb300;
}

.footer {
    margin-top: auto;
    opacity: 0.6;
}

/* Правая часть */
.right {
    width: 55%;
    padding: 80px 120px;
}

.left {
  flex: 1;
  background: linear-gradient(to right, #613b03, #000000);
}

.right {
  flex: 1;
  background: #000000;
}

.title {
    font-size: 34px;
    color: #ffb300;
}

.desc {
    margin-top: 5px;
    opacity: 0.7;
}

/* Input box */
.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    padding: 16px 50px;
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #ffb300;
    box-shadow: 0 0 10px #ffb300;
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%) scale(0.3);
    opacity: 0;
    color: #ffb300;
    font-size: 22px;
    transition: 0.4s ease;
}


.input-box input:focus + .icon,
.input-box:hover .icon {
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

.show-pass {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #ffb300;
    cursor: pointer;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.options input {
    margin-right: 5px;
}

.forgot {
    color: #ffb300;
}

/* Login button */
.login-btn {
    width: 100%;
    background: linear-gradient(90deg, #ffb300, #ff8c00);
    border: none;
    padding: 16px;
    border-radius: 12px;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 20px rgba(255, 146, 0, 0.4);
    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgba(255, 150, 0, 0.7);
}

.divider {
    text-align: center;
    margin: 25px 0;
    opacity: 0.5;
}

.socials {
    display: flex;
    gap: 20px;
}

.soc {
    width: 50%;
    padding: 14px;
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.soc:hover {
    border-color: #ffb300;
    box-shadow: 0 0 10px #ffb300;
}

.soc i {
    margin-right: 8px;
}


@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        text-align: center;
    }

    .right {
        justify-content: flex-start;
        padding-top: 20px;
    }
}


@media (max-width: 600px) {
    .left {
        padding: 20px;
    }

    .login-box {
        max-width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    input, button {
        padding: 12px;
    }

    h1, h2 {
        font-size: 1.6rem;
    }
}